<a href="/">Voltar</a>
<div class="user-view">
    <h1>{{User.name}}</h1>
    <p class="occupation">{{User.occupation}}</p>
    <p>{{Address.street}}</p>
    <p>{{Address.number}}</p>
    <p>{{Address.city}}</p>
</div>
